<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <script src="/public/js/main.js"></script>
</head>
<body>
  <h1>Login</h1>
  <form onsubmit="app.onLogin(event)">
    <input name="email" placeholder="Email" required /> <br/>
    <input name="password" type="password" placeholder="Password" required /> <br/>
    <button type="submit">Login</button>
  </form>
  <p><a href="/register">Don't have an account? Register</a></p>
</body>
</html>
